<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>

</head>
<body id="body">
    <h1>Mercury</h1>
    <div id="nav"><%- include('partials/nav.ejs') %></div>
    <br><br>

    <img id="planetImg" src="<%= mercuryData.image%>" width="500">

    <div id="allPlanetInfo">
    <p>&#128301 Description: <%= mercuryData.description %></p>
    <p>&#127774 Distance from Sun: <%= mercuryData.distanceFromSun %></p>
    <p>&#128198 Year Length: <%= mercuryData.yearLength %> </p>
    <p>&#127757 One Earth Day: <%= mercuryData.oneEarthDay %> </p>
    <p>&#127769 Number of Moons: <%= mercuryData.moons %> </p>
    <p>&#128208 Radius: <%= mercuryData.radius %> </p>
    </div>
    <br><br>
    
    <footer> <%- include('partials/footer.ejs') %> </footer>
</body>
</html>